
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bgcol{
background-image: url(./components//photo/_\ \(9\).jpeg);



}
.textblur{
  background-image: url(./components/photo/abstract-swirl-painting-with-blue-purple-gold-paint_1187703-138822.jpg) ;
  background-size: cover;
  background-clip: text;
  color: transparent;
  filter: blur(35px);
}

/* green */
.greenbg{
  background-image: url(./components//photo/Gemini_Generated_Image_1uipk61uipk61uip.png);
background-size: cover;
 background-clip: text;
  color: transparent


}
.greenbgblur{
  background-image: url(./components//photo/Gemini_Generated_Image_1uipk61uipk61uip.png);
background-size: cover;
 background-clip: text;
  color: transparent;
  filter: blur(30px);


}
.bgcol2{
background-image: url(./components//photo/abstract-swirl-painting-with-blue-purple-gold-paint_1187703-138822.jpg);
background-size: cover;
 background-clip: text;
  color: transparent


}
.textimg{
  background-image: url(./components/photo//mix.png);
  background-size: cover;
  background-clip: text;
  color: transparent
}
.textimg2{
  background-image: url(./components/photo//mix.png) ;
  background-size: cover;
  background-clip: text;
  color: transparent;
  filter: blur(30px);
}


.textblurx{
  background-image: url(./components/photo/abstract-swirl-painting-with-blue-purple-gold-paint_1187703-138822.jpg) ;
  background-size: cover;
  

  filter: blur(15px);
}


.borderx {
background-color: black;
  border: 4px solid transparent;
  border-radius: 16px;
  background: 
    linear-gradient(white, white) padding-box,
    linear-gradient(45deg, #ff00cc, #3333ff) border-box;
}
